body,
html {
  width: 100%;
  padding: 0;
  margin: 0;
}
#app {
  .container {
    margin: 0 auto;
    width: 98%;
    max-width: 80rem;
  }
  .head_wrap {
    position: fixed;
    top: -8rem;
    left: 0;
    width: 100%;
    height: 8rem;
    transition: top 0.3s ease-in-out;
    background-color: var(--color10);
    text-align: center;
    z-index: 4;

    &.open {
      top: 0;
    }

    .h_content {
      position: relative;
      display: flex;
      padding: 2rem 0;

      .inp_box {
        display: flex;
        width: 0;
        align-items: center;
        max-width: 40rem;
        flex: auto;
        border: 1px solid var(--color9);
        height: 4rem;
        line-height: 4rem;
        border-radius: 0.4rem;

        &.focus {
          border: 1px solid var(--text-hover-color);
        }

        input {
          flex: auto;
          width: 0;
          border: none;
          outline: none;
          font-size: 1.6rem;
          background-color: transparent;
        }

        i {
          display: none;
          flex: none;
        }
        .search_btn {
          display: block;
        }
      }
      .h_go_home,
      .h_add_item_btn,
      .h_check_item_btn {
        flex: none;
        margin-right: 1rem;
        width: 4rem;
        height: 4rem;
        text-align: center;
        line-height: 4rem;
        font-size: 2.2rem;
        border-radius: 0.5rem;
        color: var(--icon-color);
        border: 1px solid var(--color9);
        &:hover {
          color: var(--text-hover-color);
          background-color: var(--color9);
        }
      }
    }
  }
  .fill_box {
    width: 100%;
    height: 8rem;
  }
  .category_tag {
    transform: translateY(10rem);
    opacity: 0;
    &.open {
      transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
      opacity: 1;
      transform: none;
    }
    .title {
      line-height: 1.5;
      padding: 0 0.5rem;
      display: flex;
      border-bottom: 1px solid var(--color9);
      span {
        flex: none;
      }
      .clean_category {
        display: none;
        &:hover {
          color: var(--text-hover-color);
          transform: scale(1.2);
        }
      }
      .fill {
        flex: auto;
      }
      .setting_category {
        color: var(--icon-color);
        &:hover {
          color: var(--text-hover-color);
        }
      }
    }
  }
  .content_wrap {
    margin: 1rem auto 0 auto;
    padding: 0 0 4rem 0;
    font-size: 1.6rem;
    transform: translateY(10rem);
    opacity: 0;
    &.open {
      transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
      opacity: 1;
      transform: none;
    }
    ol,
    li,
    ul {
      list-style: none;
    }
    ul {
      position: relative;
      width: 100%;
      display: flex;
      flex-flow: row;
      font-size: 1.8rem;
      overflow: hidden;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      align-items: center;
      border-bottom: 1px solid var(--color9);
      margin: 0.4rem 0;
      &:hover {
        background-color: var(--color9);
        .item_type {
          transform: scale(1.2);
        }
      }

      li {
        white-space: pre-wrap;
        word-break: break-all;
      }

      .del_item,
      .item_type,
      .set_btn,
      .top_btn,
      .lock_state {
        flex: none;
        width: 4rem;
        line-height: 4rem;
        font-size: 2rem;
        text-align: center;
      }

      .item_type {
        color: var(--icon-color);
      }

      .set_btn {
        font-size: 1.8rem;

        &:hover {
          color: var(--text-hover-color);
          transform: scale(1.2);
        }
      }

      .del_item {
        &:hover {
          color: var(--btn-danger-color);
          transform: scale(1.2);
        }
      }

      .check_state {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        width: 100%;
        height: 100%;
        z-index: 2;
      }

      .lock_state {
        &:hover {
          color: var(--text-hover-color);
          transform: scale(1.2);
        }

        &.open {
          color: var(--btn-danger-color);
        }
      }

      .item_title {
        flex: auto;
        line-height: 1.5;
        padding: 1rem 0;

        &:hover {
          color: var(--text-hover-color);
        }
      }
    }

    .item_info {
      font-size: 1.6rem;
      line-height: 1.5;
      padding: 0 1rem 1rem 1rem;
      white-space: pre-wrap;
      word-break: break-word;
      color: var(--color5);
      .category {
        font-size: 0.9em;
        margin-right: 0.6rem;
        &:hover {
          color: var(--text-hover-color);
        }
      }
      a {
        color: var(--color4);
      }
      img {
        float: left;
        max-height: 20rem;
        max-width: 100%;
        margin: 0 0.5rem 0.5rem 0;
        border-radius: 0.5rem;
        &.default_size {
          width: 3rem;
          height: 3rem;
        }
      }
    }
    .pagingbox {
      width: 100%;
      margin: 5rem auto;
    }
  }

  .footer {
    position: fixed;
    display: none;
    background-color: var(--bg-color-o2);
    bottom: 0;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    width: 100%;
    z-index: 7;
    border-top: 1px solid var(--color9);

    div {
      display: flex;
      flex-flow: row wrap;
      width: 95%;
      padding: 0.5rem 0;
      align-items: center;

      span {
        flex: none;
        font-size: 2.2rem;
        margin: 0.5rem 1rem;
        width: 2.5rem;
        text-align: center;
        line-height: 1.5;
        &:hover {
          color: var(--text-hover-color);
          transform: scale(1.2);
        }
      }

      button {
        flex: none;
      }
    }
  }
}
