#app {
  .crumb {
    font-size: 0;
    overflow-y: auto;
    max-height: 18.8rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    div {
      font-size: 1.6rem;
      flex: none;
      margin: 0.4rem 0;
      height: 2rem;
      line-height: 2rem;
    }
    .refresh,
    .forward,
    .back {
      padding: 0 1rem;
      color: var(--icon-color);
      &:hover {
        color: var(--text-hover-color);
        transform: scale(1.2);
      }
      &.deactive {
        color: var(--color9);
      }
    }
    .line {
      color: var(--color5);
      padding: 0 0.2rem;
    }
    .item {
      max-width: 90%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:hover {
        color: var(--text-hover-color);
      }
    }
    input {
      outline: none;
      border: none;
      margin: 0.4rem 0;
      font-size: 1.6rem;
      height: 2rem;
      line-height: 2rem;
      padding: 0;
      width: 100%;
      background-color: transparent;
    }
  }
}
