#app {
  .head_btns {
    .share_btn,
    .open_btn {
      flex: none;
      height: 30px;
      width: 30px;
      text-align: center;
      line-height: 30px;
      font-size: 26px;

      &:hover {
        color: var(--text-hover-color);
        transform: scale(1.2);
      }
    }
  }
}
