.content_wrap {
  .item_info {
    .logo {
      float: left;
      margin: 0 5px 5px 0;
      border-radius: 5px;
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('../../images/img/loading.svg');
      background-size: 50%;
      &.load {
        background-size: cover;
      }
    }
  }
}
