body,
html {
  width: 100%;
  padding: 0;
  margin: 0;
}
body {
  padding: 1rem 0 10rem 0;
}
#app {
  .container {
    border-radius: 0.5rem;
    margin: 0 auto 1rem;
    width: 98%;
    padding: 1rem;
    max-width: var(--max-width);
    border: 1px solid var(--color9);
  }
  .search {
    display: none;
    .container {
      display: flex;
      align-items: center;
      flex-flow: row wrap;
      .check_box {
        display: flex;
        align-items: center;
        flex: none;
        margin-right: 1rem;
        i {
          margin-right: 0.5rem;
        }
        span {
          font-size: 1.4rem;
          color: var(--color4);
        }
      }
      .inp_box {
        display: flex;
        width: 0;
        align-items: center;
        max-width: 40rem;
        min-width: 10rem;
        flex: auto;
        border: 1px solid var(--color9);
        height: 4rem;
        line-height: 4rem;
        border-radius: 0.4rem;

        &.focus {
          border: 1px solid var(--text-hover-color);
        }

        input {
          flex: auto;
          width: 0;
          border: none;
          outline: none;
          font-size: 1.8rem;
          background-color: transparent;
        }

        i {
          display: none;
          flex: none;
        }
        .search_btn {
          display: block;
        }
      }
    }
  }
  .header {
    transform: translateY(-10rem);
    opacity: 0;
    &.open {
      transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
      opacity: 1;
      transform: none;
    }
    .container {
      display: flex;
      align-items: center;
      flex-flow: row wrap;
      button {
        height: 4rem;
        padding: 0;
        font-size: 1.8rem;
        margin: 0.5rem 1rem 0.5rem 0;
        .type,
        .text,
        .close {
          display: inline-block;
          line-height: 3rem;
        }
        .type {
          width: 3rem;
        }
        .close {
          width: 3rem;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
      .paste_btn {
        display: none;
      }
      .h_btn {
        flex: none;
        margin: 0.5rem 1rem 0.5rem 0;
        width: 4rem;
        height: 4rem;
        text-align: center;
        line-height: 4rem;
        font-size: 2.2rem;
        border-radius: 0.5rem;
        border: 1px solid var(--color9);

        color: var(--icon-color);

        &:hover {
          color: var(--text-hover-color);
          background-color: var(--color9);
        }
      }
      .clear_trash_btn {
        color: var(--btn-danger-color);
      }
    }
  }
  .crumb_box {
    transform: translateY(10rem);
    opacity: 0;
    &.open {
      transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
      opacity: 1;
      transform: none;
    }
  }
  .content_wrap {
    transform: translateY(10rem);
    opacity: 0;
    &.open {
      transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
      opacity: 1;
      transform: none;
    }
    .container {
      overflow: hidden;
      min-height: 60vh;
      ol,
      li,
      ul {
        list-style: none;
      }
      .file_item {
        display: flex;
        border-radius: 0.5rem;
        align-items: center;
        margin-bottom: 0.5rem;
        position: relative;
        &:hover {
          background-color: var(--color9);
          .logo {
            transform: scale(1.2);
          }
        }
        .check_state {
          display: none;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
        }
        .name {
          flex: auto;
          width: 0;
          padding: 1rem 0 1rem 0.5rem;
          word-break: break-all;
          line-height: 1.5;
          span {
            .suffix {
              color: green;
            }
            .link_target {
              color: var(--color5);
              padding-left: 0.5rem;
            }
          }
          &:hover {
            color: var(--text-hover-color);
          }
        }
        .size {
          flex: none;
          width: 8rem;
          text-align: center;
          font-size: 0.8em;
          color: var(--icon-color);
          &:hover {
            color: var(--text-hover-color);
          }
        }
        .mode {
          flex: none;
          width: 10rem;
          font-size: 0.8em;
        }
        .favorite {
          flex: none;
          width: 2rem;
          text-align: center;
        }
        .date {
          flex: none;
          width: 15rem;
          text-align: center;
          font-size: 0.8em;
        }
        .logo {
          padding: 1rem;
          font-size: 3rem;
          border-radius: 0.4rem;
          color: var(--icon-color);
          &.dir {
            color: #00cbff;
          }
          &.other {
            color: var(--color7);
          }
          &.is_img {
            width: 5rem;
            height: 5rem;
            margin: 0.5rem;
            background-size: cover;
            background-image: url('../../images/img/loadImg.png');
            background-repeat: no-repeat;
            background-position: center;
          }
        }
        @media (max-width: 800px) {
          .date,
          .mode {
            display: none;
          }
        }
      }
      .fill {
        width: 10rem;
        height: 0;
        pointer-events: none;
      }
      &.grid {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: flex-start;
        .file_item {
          flex: none;
          display: flex;
          flex-flow: row wrap;
          width: 10rem;
          height: 12rem;
          .logo {
            flex: none;
            width: 8rem;
            height: 8rem;
            font-size: 5rem;
            line-height: 8rem;
            text-align: center;
            padding: 0;
            margin: 0.5rem auto;
          }
          .name {
            flex: none;
            width: 10rem;
            height: 3rem;
            line-height: 3rem;
            font-size: 1.4rem;
            overflow: hidden;
            white-space: nowrap;
            padding: 0 0 0 0.5rem;
            text-overflow: ellipsis;
            text-align: center;
            .link_target {
              display: none;
            }
          }
          .favorite,
          .date,
          .mode,
          .size {
            display: none;
          }
        }
      }
      p {
        width: 100%;
        text-align: center;
        padding: 2rem 0;
        pointer-events: none;
        color: var(--color4);
      }
    }
  }
  .pagination {
    transform: translateY(10rem);
    opacity: 0;
    &.open {
      transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
      opacity: 1;
      transform: none;
    }
    overflow: hidden;
  }
  .edit_file {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
    flex-flow: column;
    .editor,
    .head_btn {
      background-color: transparent;
      margin: 0 auto;
      width: 100%;
      max-width: var(--max-width);
    }
    .head_btn {
      flex: none;
      display: flex;
      align-items: center;
      border-bottom: 1px solid var(--color9);
      button {
        flex: none;
      }
      .text {
        flex: auto;
        padding: 0 1rem;
        overflow: hidden;
        line-height: 1.5;
        white-space: nowrap;
        .scroll_text {
          float: left;
        }
      }
      .save {
        display: none;
      }
      .undo,
      .redo {
        -ms-flex: none;
        flex: none;
        font-size: 2rem;
        text-align: center;
        width: 4rem;
        &:hover {
          color: var(--text-hover-color);
          transform: scale(1.2);
        }
        &.deactive {
          color: var(--color9);
        }
      }
    }
    .editor {
      flex: auto;
      line-height: 1.5;
      .ace_gutter {
        background-color: var(--color9);
        .ace_gutter-cell {
          background-color: transparent;
        }
      }
    }
  }
  .footer {
    position: fixed;
    display: none;
    bottom: 0;
    width: 100%;
    z-index: 6;

    .container {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px);
      background-color: var(--bg-color-o2);
      margin: 0 auto;

      span {
        flex: none;
        font-size: 2.2rem;
        margin: 0.5rem 1rem;
        width: 2.5rem;
        text-align: center;
        line-height: 1.5;
        &:hover {
          color: var(--text-hover-color);
          transform: scale(1.2);
        }
      }

      button {
        flex: none;
      }
    }
  }
}
.prompt_text {
  display: none;
  pointer-events: none;
  position: fixed;
  bottom: 2rem;
  left: 0;
  width: 100%;
  line-height: 1.5;
  font-size: 2rem;
  text-align: center;
  z-index: 12;
}
.task_box {
  display: none;
  flex-flow: column;
  position: fixed;
  z-index: 11;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  width: 100%;
  max-width: 40rem;
  max-height: 80%;
  background-color: var(--color10);
  bottom: 0;
  right: 0;
  border: 1px solid var(--color9);
  border-radius: 0.4rem;
  overflow: hidden;
  .zoom_btn {
    flex: none;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    &:hover {
      color: var(--text-hover-color);
      transform: scale(1.2);
    }
  }
  .list {
    flex: auto;
    overflow-y: auto;
    overscroll-behavior: contain;
    padding: 0 1rem;
    .task {
      display: flex;
      flex-flow: row nowrap;
      margin-bottom: 1rem;
      width: 100%;
      align-items: center;

      border-radius: 0.4rem;
      padding: 0.5rem;
      border: 1px solid var(--color9);

      .progress {
        flex: auto;
        line-height: 1.5;
        padding: 1rem 0 1rem 0.5rem;
        word-break: break-all;
        color: var(--icon-color);
      }
      .cancel_task {
        flex: none;
        line-height: 3rem;
        height: 3rem;
        width: 3rem;
        text-align: center;
        &:hover {
          color: var(--btn-danger-color);
          transform: scale(1.2);
        }
      }
    }
  }
}
